* { 
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}


.grid {
    background-image: url(../gridticket/pexels-wendy-wei-1540338.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
}

.top {
    background-color: black;
    color: white;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}

.feb {
    grid-column: 1/2;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.admit {
    grid-column: 2/3;
    border: 1px;
    border-style: solid;
    border-color: black
}

.ticket {
    grid-column: 1/3;
    border: 1px;
    border-style: solid;
    border-color: black
}

.frustrations {
    display: none;
}

.qr {
    margin: 50px 0px;
    grid-column: 1/3;
}

@media (min-width: 600px) {
    .grid {
        padding: 0px;
        grid-template-columns: 1fr 1fr 1fr 30%;
        grid-template-rows: 50% 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .top {
        background-color: transparent;
        color: black;
        display: flex;
        flex-direction: column-reverse;
        border: 1px;
        border-color: black;
        border-style: solid;
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 50px 0px;
        margin: 30px 0px 0px 20px;
        }

        
    .qr {
        border: 1px;
        border-color: black;
        border-style: solid;
        margin: 0px 20px 10px 0px;
        padding: 50px 0px;
        grid-column: 4/5;
        grid-row: 1/4;
        }

    img {
        width: 95%;
        }

    .feb {
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 20px;
        margin-left: 20px;
    }

    .admit {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 20px;
    }

    .ticket {
        grid-column: 3/4;
        grid-row: 2/3;
        padding: 20px;
    }

    .frustrations {
        display: block;
        border: 1px;
        border-color: black;
        border-style: solid;
        padding: 30px;
        grid-column: 1/ span 3;
        grid-row: 3/4;
        margin: 0px 0px 10px 20px
        }

}