* { 
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}


.grid {
    background-image: url(../gridticket/pexels-wendy-wei-1540338.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top {
    background-color: black;
    color: white;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.feb {
    grid-column: 1/2;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 1em;
}

.admit {
    grid-column: 2/3;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 1em;
}

.ticket {
    grid-column: 1/3;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 1em;
}

.frustrations {
    display: none;
}

.qr {
    grid-column: 1/3;
    padding: 50px 30px;
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 75%;    
        margin: 20px;
        padding: 20px 0px;
    }

    .top {
        background-color: transparent;
        color: black;
        flex-direction: column-reverse;
        border: 1px;
        border-color: black;
        border-style: solid;
        grid-column: 1/4;
        padding: 20px;
        }

        
    .qr {
        border: 1px;
        border-color: black;
        border-style: solid;
        grid-column: 4/6;
        grid-row: 1/4;
        }

    .feb {
        grid-column: 1/2;
    }

    .admit {
        grid-column: 2/3;
    }

    .ticket {
        grid-column: 3/4;
    }

    .frustrations {
        display: block;
        border: 1px;
        border-color: black;
        border-style: solid;
        grid-column: 1/4;
        padding: 10px;
        }

    img {
        width: 95%;
    }

}