* { 
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.gridje  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    gap: 0.5em;
}

.griditem {
    background-color: hotpink;
    padding: 40px 20px;
    justify-content:center;
    align-items: center;
}

#broken {
    background-color: aqua;
    grid-row: 1/4;
    justify-content: center;
    align-self: stretch;
}

#cloud {
    background-color: yellow;
    grid-column: 4/6;
    grid-row: 2/4;
    align-self: stretch;

}